.body {
	/* Text color */
	list-style-type: none;
	position: relative;

	margin-top: 5px;

	&::before {
		display: block;
		position: absolute;
		/* Unicode bullet symbol */
		content: "⚠ ";
		/* Bullet color */
		padding-right: 0.5em;
		margin-left: -20px;
	}
}

.icon {
	display: inline-block;
}

.hint {
	@extend .body;
	color: dimgray;

	&::before {
		content: "☑";
	}
}

.warning {
	@extend .body;
	color: darken(yellow, 10%);
}

.heavyWarning {
	@extend .body;
	color: orange;
}

.critical {
	@extend .body;
	color: firebrick;

	&::before {
		content: "☠";
	}
}
